* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mycontainer {
  position: "absolute";
  top: 0;
  left: 0;
  background-color: #a22a27;
  height: 160vh;
  width: 100%;
}

#tsparticles {
  height: 100%;
  width: 100%;
}

.sideImage {
  animation: logo-spin infinite 20s linear;
  pointer-events: none;
  height: 40%;
}
.sideImage2 {
  animation: logo-spin infinite 20s linear;
  pointer-events: none;
  height: 40%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
